{% extends "blacklist.html.twig" %}

{% block content %}

    <div class="alert alert-danger">{{ 'blacklist.removal_error1'|trans }}</div>
    <p>{{ 'blacklist.error_hint'|trans }}</p>

{% endblock %}